[submodule "config/dotfiles/vimrc"]
    path = config/dotfiles/vimrc
    url = https://github.com/guumaster/vimrc.git
    ignore = all
[submodule "bash"]
    path = bash
    url = https://github.com/guumaster/bash.git
    ignore = all
[submodule "www/guumaster.github.com"]
    path = www/guumaster.github.com
    url = https://github.com/guumaster/guumaster.github.com.git
[submodule "php/cli/sh"]
	path = php/cli/sh
	url = https://github.com/guumaster/sh.git
